zotonic.pid

ttb_last_config
erl_crash.dump

.rebar
rebar3
rebar_etag
rebar3.crashdump
compile_commands.json
rebarconfig.json

*~
*#

*.orig
*.beam
*.o
*.lo
*.la
*.lai
*.so
*.Plo
*.wmtrace
*.swp
*.mo
*.bck

apps/*/rebar.lock
apps/*/doc

_build
_checkouts

.DS_Store
zotonic.tmproj
.sass-cache

.eunit
