% This "mediaclass.config" file contains image resizer definitions.
% Each named mediaclass can be used as the 'mediaclass' argument for
% an image tag. For example
%
% {% image id mediaclass="small-crop" %}
%
% By using mediaclasses you can change image sizes, quality and other
% filters without changing your template code.
%
% Any module (or site) can have its own 'mediaclass.config' file. The
% usual priority overrides for modules, where a higher priority overrules
% any definitions made in a module with a lower priority (higher number
% is lower priority, 1 is highest priority).

% Below must be valid Erlang, if there is a parse error then the error
% will be logged by Zotonic and the definitions will not be used.
[
    % Define the mediaclass "small-crop". It defines a width and height,
    % because of the 'crop' the resulting image will be exactly the
    % given dimensions.
    {"small-crop", [
        {width, 80},        % max width of bounding box
        {height, 80},       % max height of bounding box
        crop                % crop the image to fix exactly in the bouding box
    ]},

    % Used on top of the page. There is a special 'post_magick' property
    % here. It is only valid in mediaclass files, and contains hard coded
    % options for the ImageMagick "convert" command line tool.
    % There are also similar 'pre_magick' and 'magick' options.
    {"page-header", [
        {width, 1200},      % max width of the bouding box
        {height, 800},      % max height of the bounding box
        {post_magick, "-modulate 100,0 +level-colors black,\\#1ca5de"}
                            % Colorize the image using Zotonic blue
    ]},

    % Like the normal page-header, but now allowing colored images.
    {"page-header-color", [
        {width, 1200},      % max width of the bouding box
        {height, 800}       % max height of the bounding box
    ]},

    % This is used for showing images in the "page.media.tpl" template, which
    % is for displaying media items like images. There a big view of the image
    % is needed, but not the original as that can be several MBs.
    {"large", [
        {width, 2000},      % max width of the bouding box
                            % no max height, keep aspect ratio
        upscale             % upscale smaller images, the result image will be 1400px wide
    ]},

    % Used for the logo at the top of the page
    {"logo", [
        {width, 800},       % About twice the max-width
        lossless            % Keep the logo as PNG or GIF (if uploaded as PNG or GIF)
    ]},

    % Used in the body text of articles, for embedded images.
    % This is adapted from the definitions in zotonic_mod_base/priv/templates/mediaclass.config
    {"body-media-large", [
        {width, 1600},
        {height, 1200},
        lossless                % Keep PNG images as is, for crisp diagrams
    ]},
    {"body-media-medium", [
        {width, 1000},
        {height, 900},
        lossless                % Keep PNG images as is, for crisp diagrams
    ]},
    {"body-media-small", [
        {width, 500},
        {height, 350},
        lossless                % Keep PNG images as is, for crisp diagrams
    ]},

    {"media-preview", [
        {width, 600},
        lossless                % Keep PNG images as is, for crisp diagrams
    ]},

    % Images used in list items, shown on the background of the item.
    % Use crop to force a fixed aspect ratio.
    {"list-item", [
        {width, 800},
        {height, 300},
        upscale,
        crop
    ]},

    % Images used in the home-featured list
    {"home-featured", [
        {width, 800},
        {height, 400},
        upscale,
        crop
    ]}
].
