.clickable {
    cursor: pointer;
}

.docutils.literal {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 2px 4px;
    background: #fbfbf6;
}

.z-logon-box p {
    width: 100%;

    b {
        color: $contrast-color;
    }
}
