#sidedrawer {
    background-color: $body-bg;
    color: $text-color;

    > div {
        > label {
            display: block;
            text-align: right;
            font-size: 40px;
            line-height: 30px;
            padding: 10px;
            text-transform: uppercase;
        }
    }


    > div > .nav-stacked > li > a {
        text-transform: uppercase;
    }

    .nav-stacked {
        padding-left: 1.2rem;
        line-height: 2rem;

        a {
            padding: 0;
            color: $text-color;
            white-space: nowrap;

            &:hover {
                color: $contrast-color;
            }
        }
        li {
            margin-top: 0;
            padding: 0;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }

        ul {
            padding: 0 0 0 1.2rem;
            display: none;
        }

        li.nav__show {
            > a {
                color: $contrast-color;
                &::before {
                    position: absolute;
                    left: -0.95rem;
                    content: ">";
                }
            }
            > ul {
                display: block;
            }
        }

        li.divider {
            padding: 1rem;
        }
    }
}

@media (min-width: $screen-menu-breakpoint) {
    #sidedrawer-bg,
    #nav-label {
        display: none;
    }

    #sidedrawer {
        > div {
            > label {
                display: none;
            }

            padding-top: 3.2rem;
        }
    }
}


.page-haspart {
    clear: both;
    text-align: center;
    overflow: hidden;
    display: flex;
    margin-top: 2.8rem;

    > * {
        flex-grow: 0;
        flex-basis: 32%;
        display: block;
    }

    .haspart__prev {
        text-align: left;
        text-indent: -1rem;
        margin-left: 1rem;
        &:before {
            content: "< ";
        }
    }

    .haspart__next {
        text-align: right;
        margin-right: 1rem;
        &:after {
            content: " >";
            margin-right: -1rem;
        }
    }
}

main {
    .pagination {
        margin-top: 2.8rem;
        width: 100%;

        li {
            padding: 0;
        }
    }
}
